<div class="containter-fluid">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2 main">
			<p> Welcome to my site! <br><br>
				I'm currently in the process of learning and developing it so there isn't anything here yet. So in the mean time here's a picture of me. <br>
				
				<%= image_tag("me.jpg", class: "img-responsive img-rounded center-block") %><br>

				Contact me below!<br>
	
			</p>
		</div>
	</div>
</div>


