@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	padding-top: 60px;
}

/* navbar */

.navbar-nav {
	text-align: center;
	li {
		float: none;
		display: inline-block;
	}
}

/* main */
.main {
	max-width: 500px;
	margin: 0 auto;
}