<div class="container">
	<nav class="navbar navbar-default navbar-fixed-top">
		<!-- menu -->
		<ul class="nav navbar-pills nav-justified">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Projects", projects_path %></li>
			<li><%= link_to "Feed", feed_path %></li>
			<li><%= link_to "Comments", comments_path %></li>
		</ul>
	</nav>
</div>