<header class="navbar navbar-fixed-top">
	<div class="container">
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Projects", projects_path %></li>
				<li><%= link_to "Feed", feed_path %></li>
				<li><%= link_to "Comments", comments_path %></li>
			</ul>
		</nav>
	</div>
</header>